@import './variables.scss';

body {
  font-family: futura-pt;
  background-color: $bg-color;
}

// Font styles
h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 35px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
}

#foodwise {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-style: normal; 
  font-family: futura-pt;
  font-size: 130px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
}

#subtitle {
  font-family: futura-pt;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: .04em;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

#buttoncontainer {
  text-align: center; 
}

.homebtn1 {
  display: inline-block;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 999px;
  font-family: futura-pt;
  margin-right: 10px; 
}

.homebtn1:hover {
    background-color: white;
    color: black;
    transition: $fast-transition;
  }

.homebtn2 {
  display: inline-block;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 999px;
  font-family: futura-pt;
  margin-bottom: 10px; 
  margin-left: 10px; 
}

.homebtn2:hover {
    background-color: white;
    color: black;
    transition: $fast-transition;
  }

body {
  
}

.home-container {
  margin-top: 140px;
}


h2 {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
}

h3 {
  margin: 0;
  line-height: 25px;
  color: $tertiary-header;
}

h4 {
  margin-bottom: -5px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  word-spacing: -5px;
  text-transform: uppercase;
  font-size: 11pt;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: $link;
  transition: $fast-transition;
}

a:hover {
  color: $link-focus;
}

p, ul {
  color: $body-text;
}

// End Font styles

.btn {
display: inline-block;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 999px;
  font-family: futura-pt;
  padding: 15px 15px 15px 15px;
  margin: 10px 0;
  text-align: center;
  color: white;
  cursor: pointer;
}

  .btn:hover {
    box-shadow: $standard-shadow;
    transition: $fast-transition;
  }

  .btn:active {
    background-color: $accent-focus;
    transition: $fast-transition;
  }

  .fit-content {
    width: fit-content;
  }

.app-content {
  margin: auto;
  text-align: left;
  width: 100%;
  max-width: 100%;
}

.nav-container{
  background-color: white;
  box-shadow: $standard-shadow;
  height: fit-content;
  padding: 20px 150px 15px 150px;
  width: 100%;
}

.link-nostyle {
  color: inherit;
  text-decoration: none;
}

.emoji{
  font-size: 25px;
}

// Survey
.survey-header {
  h1, h2 {
    text-align: center;
  }
  background: #8dd5d3 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 50%;
  margin: auto;
  position: absolute;
  
}

.surveycontainer {
  margin: 0; 
}

.surveytitle {
font-style: normal; 
  font-family: futura-pt;
  font-size: 35px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
  }

.surveysubtitle {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
}

.survey-text {
  padding: 10px 60px;
  font-style: normal; 
  font-family: futura-pt;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: black; 
  text-align: center;
}

.questionBox {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
  text-align: center; 
}

.questionBox p {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
  text-align: center; 
}

.questionBox h3 {
  font-style: normal; 
  font-family: futura-pt;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: -.01em;
  line-height: 1em;
  color: white;
  text-align: center; 
}

// End Survey

// RecipePage
.recipe {
  margin: 20px 0;
  max-width: 550px;
  color: $body-text;
}

  .ingredients-actions {
    margin-top: 20px;
  }

.recipe-header {
  width: fit-content;
}

.meta-sidebar {
  margin-left: 30px;
  float: right;
  p {
    margin: 5px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.hero-img {
  width: 600px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  float: left;
}

.number-input {
  width: 35px;
  font-size: 10pt;
  padding: 5px;
}


// End RecipePage

// Personas
.persona-page {
  h1, h2 {
    text-align: center;
  }
  background: url("blue.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
}

.persona-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.persona {
  opacity: .8; 
  background: white;
  text-align: center;
  width: 250px;
  height: 250px;
  border: 0.5px solid $border-light;
  margin: 20px;
  padding: 20px 10px;
  &:hover {
    box-shadow: $standard-shadow;
  }
}

  .persona h2 {
    text-transform: capitalize;
    color: $tertiary-header;
  }

  .persona ul {
    text-align: left;
    color: $body-text;
  }

// End Personas

.emoji{
  font-size: 30px;
}

.number-input:focus {
  outline: 0;
}


// Fontawesome
svg {
  padding-right: 5px;
}
//

// Homepage
.plans {
  text-align: left;
  width: 100%;
  border: 3px solid;
  border-bottom: 8px ;
  margin: 20px;
  padding: 20px 10px;
  display: inline-block;
}
//

