@import './variables.scss';

body {
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  background-color: $bg-color;
}

// Font styles
h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-weight: 900;
  color: $header;
}

h2 {
  margin-top: 0;
  color: $secondary-header;
}

h3 {
  margin: 0;
  line-height: 25px;
  color: $tertiary-header;
}

h4 {
  margin-bottom: -5px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  word-spacing: -5px;
  text-transform: uppercase;
  font-size: 11pt;
}

//

.btn {
  background-color: $accent;
  padding: 5px 15px 5px 15px;
  margin: 10px 0;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  transition: $fast-transition;
}

  .btn:hover {
    box-shadow: $standard-shadow;
  }

  .btn:active {
    background-color: $accent-focus;
  }

  .fit-content {
    width: fit-content;
  }

.app-content {
  text-align: left;
  padding: 30px 150px 30px 150px;
  width: 90%;
  max-width: 800px;
}

.nav-container{
  background-color: white;
  box-shadow: $standard-shadow;
  height: fit-content;
  padding: 20px 150px 15px 150px;
  width: 100%;
}

.link-nostyle {
  color: inherit;
  text-decoration: none;
}

.emoji{
  font-size: 25px;
}

// RecipePage
.recipe {
  margin: 20px 0;
  max-width: 550px;
}

  .ingredients-actions {
    margin-top: 20px;
  }

.recipe-header {
  width: fit-content;
}

.meta-sidebar {
  margin-left: 30px;
  float: right;
}

.hero-img {
  width: 600px;
  height: 300px;
  background-size: cover;
  background-position: center;  
  position: relative;
  float: left;
}

.number-input{
  width: 35px;
  font-size: 10pt;
  padding: 5px;
}

.number-input:focus {
  outline: 0;
}



// Fontawesome
svg {
  padding-right: 5px;
}
//