@import './variables.scss';

.persona-page {
    background: url("blue.jpg") repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    opacity: .8;
    h1 {
        color: white;
        font-size: 50pt;
        text-align: center;
        padding-top: 60px;
        margin: 0;
    }
    h2 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .persona-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .po {
            opacity: .9; 
            background: white;
            width: 200px;
            height: 190px;
            text-align: center;
            border: 0.5px solid $border-light;
            margin: 15px;
            padding: 20px 10px;
            position: relative;
            h2 {
                color: #45bab6;
                width: 100%;
                height: auto;
                text-transform: capitalize;
                text-align: center;
                margin-top: 54px;
                display: block;
            }
            .overlay {
                background-color: $teal;
                height: 100%;
                width: 100%;
                font-size: 12px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: .5s ease;
                .foodpoint {
                    color: white;
                    width: 200px;
                    font-size: 18px;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    cursor: pointer; 
                }
            }
            &:hover {
                opacity: 1;
            }
            &:hover .overlay {
                opacity: 1;
            }
        }
    }
}


@media(max-width: 1010px) {
    .persona-page {
        width: 100%;
        height: 100%;
        h1 {
            font-size: 40pt;
            padding-top: 40px;
        }
        h2 {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
        }
        .persona-container {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            .po {
                width: 180px;
                height: 170px;
                margin: 20px;
            }
        }
    }
}

@media(max-width: 767px) {
    .persona-page {
        h1 {
            width: 90%;
            font-size: 36pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
}