@import 'variables.scss';

body {
    padding-bottom: 40px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .item {
        background-color: $tertiary-header;
        width: 28%;
        height: 140px;
        margin: 4% 2%;
        flex-basis: auto;
    }
}

#action{
    position: relative;
    #backBtn {
        color: $tertiary-header;
        position: absolute;
        top: 10%;
        left: 3%;    
        padding: 1% 2%;
    }
    #backBtn:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    #moreBtn {
        background-color: $header;
        color: white;
        box-shadow: $standard-shadow;
        width: 150px;
        height: 40px;
        font-size: 12pt;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        a {
            color: white;
        }
        a:hover {
            color: $secondary-header;
        }
    }
    #moreBtn:hover {
        cursor: pointer;
    }
}
