$bg-color: #fafafa;
$header: #EB9141;
$secondary-header: #EE693F;$tertiary-header: #739F3D;
$accent: #fc8335;
$accent-focus:  #ea792e;
$standard-shadow: 0px 1px 5px #aaaaaa;
$fast-transition: 0.2s ease-in-out;