$bg-color: #fafafa;
$header: #EB9141;
$secondary-header: #666666;
$tertiary-header: #739F3D;
$link: #739F3D;
$link-focus: #5d8231;
$accent: #fc8335;
$accent-focus:  #ea792e;
$secondary-accent: #b8d749;
$body-text: #404040;
$border-light: #dcdcdc;
$standard-shadow: 0px 1px 5px #7C7C7C;
$fast-transition: 0.2s ease-in-out;
