$bg-color: #fafafa;
$header: #8dd5d3;
$secondary-header: #666666;
$tertiary-header: white;
$link: white;
$link-focus: white;
$accent: #8dd5d3;
$accent-focus:  #8dd5d3;
$secondary-accent: #b8d749;
$body-text: #404040;
$border-light: #dcdcdc;
$standard-shadow: 0px 1px 5px #7C7C7C;
$fast-transition: 0.2s ease-in-out;
$teal: #8dd5d3;
$font-family: futura-pt;
